.img-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;

  border: black 1px solid;
  border-radius: 5px;

  height: 24px;
  width: 24px;
  margin: 4px;
}

.btn-group {
  display: flex;
  flex-direction: row;
}

#editInputs {
  display:block;
  margin: 10px;
}

#editInputs input {
  margin: 6px;
}

.btn-primary {
  margin: 6px;
}